
h1 {
  font-family: var(--vscode-editor-font-family);
}

.app {
  margin: 15px auto;
  max-width: 80rem;
}

.app__actions {
  display: flex;
  gap: 1rem;
}

.app__error {
  color: var(--vscode-editorError-foreground);
}

.viewer {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  background-color: #1e1e1e;
}
